<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<script>
console.log(`
ANGULAR API SERVICE

constructor(private http: HttpClient) {}

getLista(): Observable<any> {
  return this.http.get<any>(this.apiUrl);
}

getDetalji(id: number): Observable<any> {
  return this.http.get<any>(
    \`\${this.apiUrl}/\${id}\`
  );
}
`);

console.log(`
LISTA COMPONENT

ngOnInit() {
  this.apiService.getLista().subscribe({
    next: (data) => {
      this.podaci = data;
    }
  });
}

detalji(id: number) {
  this.router.navigate(['/detalji', id]);
}
`);

console.log(`
DETALJI COMPONENT

const id = Number(
  this.route.snapshot.paramMap.get('id')
);

this.apiService.getDetalji(id).subscribe({
  next: (data) => {
    this.stavka = data;
  }
});
`);


console.log(`
==============================
LISTA - HTML
==============================

@for (stavka of podaci; track stavka.id) {

  <div>

    <h3>{{ stavka.title }}</h3>

    <p>ID: {{ stavka.id }}</p>

    <p>{{ stavka.body }}</p>

    <button (click)="detalji(stavka.id)">
      Detalji
    </button>

  </div>

}
`);


console.log(`
==============================
LOADING + ERROR
==============================

@if (loading) {
  <p>Učitavanje...</p>
}

@if (error) {
  <p>{{ error }}</p>
}
`);


console.log(`
==============================
DETALJI - HTML
==============================

@if (loading) {
  <p>Učitavanje...</p>
}

@if (error) {
  <p>{{ error }}</p>
}

@if (stavka) {

  <h2>{{ stavka.title }}</h2>

  <p>ID: {{ stavka.id }}</p>

  <p>{{ stavka.body }}</p>

}
`);


console.log(`
==============================
NAJBITNIJE - FOR PETLJA
==============================

@for (stavka of podaci; track stavka.id) {

  {{ stavka.id }}
  {{ stavka.title }}

}
`);


console.log(`
==============================
ROUTER LINK VARIJANTA
==============================

<a [routerLink]="['/detalji', stavka.id]">
  Detalji
</a>
`);


console.log(`
==============================
OBICNO DUGME ZA DETALJE
==============================

<button (click)="detalji(stavka.id)">
  Detalji
</button>
`);


</script>

</body>
</html>
