<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<script>
console.log(`
ANGULAR API SERVICE

constructor(private http: HttpClient) {}

getLista(): Observable<any> {
  return this.http.get<any>(this.apiUrl);
}

getDetalji(id: number): Observable<any> {
  return this.http.get<any>(
    \`\${this.apiUrl}/\${id}\`
  );
}
`);

console.log(`
LISTA COMPONENT

  podaci: any[] = [];
  constructor(
    private apiService: ApiService,
    private router: Router
  ) {}
ngOnInit() {
  this.apiService.getLista().subscribe({
    next: (data) => {
      this.podaci = data;
    }
  });
}

detalji(id: number) {
  this.router.navigate(['/detalji', id]);
}
`);

console.log(`
DETALJI COMPONENT

  stavka: any = null;

  loading = false;
  error = '';

  constructor(
    private route: ActivatedRoute,
    private apiService: ApiService
  ) {}

  ngOnInit() {

    const id = Number(
      this.route.snapshot.paramMap.get('id')
    );
    this.ucitajDetalje(id);
  }

  ucitajDetalje(id: number) {
    this.loading = true;
    this.error = '';
    this.apiService.getDetalji(id).subscribe({
      next: (data) => {
        this.stavka = data;
        this.loading = false;
      },
      error: () => {
        this.error = 'Greška pri učitavanju detalja';
        this.loading = false;
      }
    });
  }
`);


console.log(`
==============================
LISTA - HTML
==============================

@for (stavka of podaci; track stavka.id) {

  <div>

    <h3>{{ stavka.title }}</h3>

    <p>ID: {{ stavka.id }}</p>

    <p>{{ stavka.body }}</p>

    <button (click)="detalji(stavka.id)">
      Detalji
    </button>

  </div>

}
`);


console.log(`
==============================
LOADING + ERROR
==============================

@if (loading) {
  <p>Učitavanje...</p>
}

@if (error) {
  <p>{{ error }}</p>
}
`);


console.log(`
==============================
DETALJI - HTML
==============================

@if (loading) {
  <p>Učitavanje...</p>
}

@if (error) {
  <p>{{ error }}</p>
}

@if (stavka) {

  <h2>{{ stavka.title }}</h2>

  <p>ID: {{ stavka.id }}</p>

  <p>{{ stavka.body }}</p>

}
`);



</script>

</body>
</html>
